
body{
    padding: 0;
    margin: 0;
}
.container{
    margin-top:400px;
    display: flex;
    justify-content:space-evenly;
    background-color: rgba(22, 19, 19, 0.937);
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    text-decoration: underline;
}
h3{
    color: white;
    margin:0;
    padding:18px;
}
#hthree{
    background-color: rgba(22, 19, 19, 0.937);
    color: white;
    text-align: center;
    padding:24px;
}
#box5 img{
    height:40px;
    width:40px;
    margin:5px 20px
}
#box5{
    background-color: rgba(22, 19, 19, 0.937);
    display: flex;
    justify-content: center;
}
p{
    display:block;
    margin:auto;
    text-align: center;
    background-color: rgba(22, 19, 19, 0.937);
    color:white;
    padding:12px;
}
@media screen and (max-width:850px){
    .container{
        display:flex;
        flex-wrap: wrap;       
    }
    #box5{
        display:flex;
        flex-wrap: wrap;  
    }

}